/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Raleway:400,400i,500&display=swap');

/* ---- Base Rules ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0.3em 0;
    font-family: 'Times New Roman', serif;
    font-size: 12px;
    ligh-height: 1.5;
    color: #0D0D0D;
}

/* Typeography General*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', serif;
  letter-spacing: ;
  margin: 0.2em 0;
  text-align: center;
}

h1 {
    font-size: 5em;
    font-weight: 750;
    line-height:1.5;
    }

h2 {
    font-size: 4em;
    font-weight: 700;
    line-height:1.4;
    }

h3 {
    font-size: 2em;
    font-weight: 500;
    line-height:1.5;
    color: #0D0D0D;
    }

h4 {
    font-size: 2em;
    font-weight: 600;
    line-height:1.2;
    }

h5 {
    font-size: 1.5em;
    font-weight: 550;
    line-height:1.1;
    }

h6 {
    font-size: 1.4em;
    font-weight: 500;
    line-height:1.0;
    }

p {
    font-family: 'Times New Roman', serif;
    text-align: left;
    font-size: 1.0em;
    margin: 1em 0 0;
    }

li, a {
  font-family: 'Times New Roman', serif;;
  font-weight: 500;
  text-decoration: none;
}

/* Grid */
.popsy-landing {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
  "nav"
  "ruff"
  "emailalert"
  "section"
  "toys"
  "contact";
}

/* Navigation */

header {
  grid-area: nav;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100px;
}

.popsy-profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
}

.navbar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.profile img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

.navbar {
  padding: 0 20px;
}

@media (min-width: 750px) {
  header {
    grid-area: nav;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 60px;
  }

  .popsy-profile {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
  }

  .navbar {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-list {
  list-style: none;
  margin: 0;
}

.nav-list li {
  display: inline-block;
  padding: 0 20px;
  letter-spacing: 0.05em;
}

.nav-list li a {
  transition: all 0.3s ease 0s;
  color: white;
  padding: 12px 20px;
}

.nav-list li a:hover {
  color: #000;
  background-color: #FFF;
}

/* Hero Image */

.ruff {
  grid-area: ruff;
  background-image: url("../img/Profile Picture.jpg");
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}

.ruff h1 {
  color: #fffaf0;
  margin: 20%;
}

/* emailalert */

.emailalert {
  grid-area: emailalert;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8aa29e;
  padding-top: 15px;
  padding-bottom: 30px;
}

.emailalert-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.emailalert-element input[type=text] {
  width: 200px;
}

.emailalert-element input[type=text], input[type=submit] {
  text-align: center;
  padding: 12px;
  margin: 15px;
  border: 1px solid #fffaf0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
}

.emailalert-element input[type=submit] {
  width: 200px;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  background-color: #e54b4b;
  border: 2px solid #e54b4b;
  color: #fffaf0;
  transition: all 0.3s;
  border: none;
}

.emailalert-element input[type=submit]:hover {
  background-color: transparent;
  border: 2px solid #e54b4b;
  color: #e54b4b;
  transform: scale(0.9);
}

@media (min-width: 800px) {
  .emailalert-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}

/* Section */
#section {
  grid-area: section;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#section h2 {
  width: 100%;
}

.section-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.section-card {
  background-color: white;
  width: 100%;
  max-width: 400px;
  height: 230px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px 30px;
  margin: 20px;
}

.section-icon {
  text-align: center;
}

@media (min-width: 800px) {
  .section-flex {
    flex-flow: row wrap;
  }
  .section-card {
    width: 30%;
  }
}

@media (min-width: 800px) and (max-width: 999px) {
  .section-flex h3 {
    font-size: 2em;
  }
  .walk {
    font-size: 2.5em;
  }
  .section-card {
    height: 300px;
  }
}

@media (min-width: 1000px) {
  .section-card {
    height: 250px;
  }
}

#toys {
  grid-area: toys;
  width: 100vw;
  height: 80vh;
  background-color: black;
  display: flex;
}

.toys-container {
  width: 100%;
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#toys h2 {
  color: white;
  max-width: 500px;
}

.toy-img {
  height: 60%;
  width: auto;
  object-fit: contain;
}

@media (min-width: 750px) {
  #toys {
    background-image: url("../img/toys.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .toys-container {
    width: 50%;
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}
  
/* Contact */

#contact {
  grid-area: contact;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

#contact h5 {
  text-align: center;
}

.contact-outer {
  width: 100%;
  padding: 20px;
}

@media (min-width: 800px) {
  .contact-outer {
    width: 50%;
    text-align: center;
  }
}

.contact-inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;
  width: 100%
}

.contact-inner input[type=text] {
  width: 100%;
}

.contact-inner input[type=text], input[type=submit] {
  padding: 12px;
  margin: 8px 0px;
  border: 1px solid #fffaf0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
}

.contact-inner input[type=submit] {
  width: 200px;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #e54b4b;
  border: 2px solid #e54b4b;
  color: #fffaf0;
  transition: all 0.3s;
  border: none;
}

.contact-inner input[type=submit]:hover {
  background-color: transparent;
  border: 2px solid #e54b4b;
  color: #e54b4b;
  transform: scale(0.9);
}

.contact-inner textarea {
  height: 150px;
  width: 100%;
}

footer {
  padding: 20px;
  background-color: #8aa29e;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: red;
}
